main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  width: 90vw;
  margin: 40px auto 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
}

form {
  grid-column: 2/3;
  grid-row: 2/3;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}



